<form action="{{path ('add_to_cart',{id:article.id} )}}" method="post" id="selectSizeForm" name="selectSizeForm">
	{% for article in article.ensemble %}
		{{article.name}}
		<br>
		{% if (article.productCategory.name == "adultVeste" or article.productCategory.name == "kidVeste")  %}
			{% set taille = "Taille" %}
		{% else %}
			{% set taille = "Pointure" %}

		{% endif %}

		<label for="selectedSize{{loop.index}}">{{taille}}</label>
		<select class="form-select" aria-label="selectSize" id="selectSize{{loop.index}}" name="selectedSize{{loop.index}}" required="true">
			{% for size in article.size %}

				<option value="{{taille}}: {{size.size}}">{{size.size}}</option>

			{% endfor %}
		</select>

	{% endfor %}
</form>
