{% extends 'base.html.twig' %}

{% block title %}Paiement
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://paytech.sn/cdn/paytech.min.css">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('order_payment') }}
	<script src="https://paytech.sn/cdn/paytech.min.js"></script>

{% endblock %}

{% block body %}

	<table class="table table-hover table align-middle table-responsive table table-borderless">
		<thead>
			<tr>
				<th scope="col">Produits</th>
				<th scope="col">Quantité</th>
				<th scope="col">Prix</th>
				<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody class="productCard-font">
			{% for product in cart %}
				<tr>
					<th scope="row">
						<img src="{{asset('/uploads/ProductPictures/' ~ product.product.prezPicture)}}" alt="{{product.product.name}}" height="80px"/>


						<p class="fw-light">
							<small>
								{{product.product.name|upper}}</small>
							<br>
							<span>
								<small>
									{{product.size}}</span>
							</small>
						</p>
					</th>
					<td class="align-item-center">
						<span>{{product.quantity}}
						</span>
					</td>
					<td>
						{{(product.price /100)|number_format(2, ',', '.')}}€
					</td>

					<td>{{(( product.price /100)* product.quantity)|number_format(2, ',', '.')}}€</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="text-center my-2 mx-3" id="paymentContainer">
		<div class="text-center my-2 mx-3 ">Total de vos achats :
			<span id="total_cart">{{(totalItemsPrice /100)|number_format(2, ',', '.')}}</span>€</div>
		<div class="text-center my-2 mx-3 ">Frais de port :
			<span id="shippingFees">{{(shippingFees /100)|number_format(2, ',', '.')}}</span>€</div>
		<div class="text-center my-2 mx-3 ">Total à payer :
			<span id="total_to_pay">{{((total_to_pay) /100)|number_format(2, ',', '.')}}</span>€</div>
	</div>
	{% include 'order/_paytech_payment_button.html.twig' %}

{% endblock %}
